/*––––
	General Page Styles
	––––––––––––––––––––––––––––*/
.contact-us {
	& .bluehero {
		background-image: url('../assets/images/rpi__hero-bg.jpg');
		@apply --background-standard;
	}

	& .content {
	max-width: 600px;
	margin: 0 auto;
	padding: 60px 20px;

		& .title {
			color: var(--blue);
		}

		& .nf-field-element textarea {
			height: 125px;
		}
	}

	& div.nf-field-description {
		width: 90%;
	}

	& .wordbreak {
		text-decoration: underline;
	}
}




/*––––
	Sidebar
	––––––––––––––––––––––––––––*/
.contact-sidebar {
	& .inner {
		background-color: var(--offwhite);
		padding: 50px;
	}
	& address {
		font-style: normal;
	}

	& a {
		color: var(--green);
		text-decoration: underline;
	}
}

.map {
	background-image: url('../assets/images/contactus__map.jpg');
	@apply --background-standard;
	width: 100%;
	height: 540px;
}
