.home-hero {
	min-height: 800px;
	background: url('../assets/images/home__hero.jpg');
  @apply --background-standard;
  overflow: hidden;

	text-align: center;
	color: var(--white);
	position: relative;
	background-color: #333;

	& .inner {
		@apply --absolute-center;
		padding: 0 30px;
	}

  & .content {
    &::after {
      content:url('../assets/images/home__hero-figure.png');
      position: absolute;
      top: -180px;
      height: 100px;
      right: -200px;
      z-index: -1;

    }
  }

	& .title {
		margin: 0;
    padding: 20px 5px;
    border: 5px solid var(--green);
	}

	& p {
		color: var(--fadegray);
	}
}

.arrowbox {
	background-color: color(var(--green) alpha(-18%));
	box-shadow: -1px 9px 30px 0px rgba(50, 50, 50, 0.36);
	position: absolute;
	left: 0;
	right: 0;
	bottom: -30px;
	z-index: 5;
	margin: 0 auto;
	max-width: 70px;
	max-height: 70px;
	padding: 20px;

	& img {
		width: 25px;
		transform: rotate(90deg);
	}
}

.callout-oralcontrast{
	background-image: url('../assets/images/home__callout-oralcontrast.jpg');
}

.callout-powerinjector{
	background-image: url('../assets/images/home__callout-powerinjector.jpg');
}



/*––––
	Media Queries
	––––––––––––––––––––––––––––*/
.events {
  padding: 20px 20px 50px 20px;
  background-color: var(--offwhite);

  & .title {
    text-align: center;

    &::after {
      padding-top: 20px;
      margin: 0 auto;
      width: 75px;
      content: "";
      display: block;
      border-bottom: 2px solid var(--green);
    }
  }

  & .single-event {
    text-align: center;
  }

}



/*––––
	Media Queries
	––––––––––––––––––––––––––––*/
@media (--tablet) {
  .home-hero {
    & .content {
      min-height: 500px;
      border: 5px solid var(--green);
      position: relative;

      &::after {
        position: absolute;
        top: -216px;
        right: -220px;
        z-index: 3;
      }
    }

    & .skin {
      padding: 0 50px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 4;
    }

    & .title {
      border: none;
    }
  }

}
