/*––––
	General & Global stles for page
	––––––––––––––––––––––––––––*/
.how-to-buy {
	& .hero {
		@apply --background-standard;
	}

	& .content {
		max-width: 600px;
		margin: 0 auto;
		padding: 60px 20px;

		& .title {
			color: var(--green);
			font-weight: normal;
		}
	}

	& label {
		display: block;
	}

	& input {
		display: block;
	}

	&.false {
		display: none;
	}
}



/*––––
	Find - for zip code input field
	and button
	––––––––––––––––––––––––––––*/
.find {
	& sup {
		color: var(--green);
	}

	& input {
		width: 100%;
	}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/*––––
	Nearby - for the distributors
	select dropdown
	––––––––––––––––––––––––––––*/
.select-arrow {
	position: relative;
	display: inline-block;
	width: 100%;

		&::after {
		content: '\0025BE';
		position: absolute;
		line-height: 25px;
		color: green;
		line-height: 14px;
		border: 1px solid var(--green);
		border-left: none;
		padding: 10px;
		right: 0;
		top: 0;
		z-index: -1;
	}
}

.nearby {
	display: none;
}

/*––––
	Legend - for the keys and icons
	––––––––––––––––––––––––––––*/
.legend {
	display: none;
	padding: 20px 0;

	& .icon {
		position: relative;
		padding-left: 30px;
		padding-bottom: 10px;

		&::before {
			width: 15px;
			margin-right: 10px;
			position: absolute;
			left: 0;
		}

		&.barium::before {
			content:url('../assets/images/legend__barium.svg');
		}

		&.syringe::before {
			content:url('../assets/images/legend__syringe.svg');
		}
	}
}

#loadmore {
	display: none;
}



/*––––
	Locations - for the location blocks
	that get pulled in via javascript
	––––––––––––––––––––––––––––*/
#location {
	& span {
		display: block;
	}

	& .inner {
		padding-bottom: 25px;
	}

	& .logo {
		max-height: 100%;
		height: 90px;
		max-width: 160px;
		background-position: left bottom;
		background-size: contain;
		margin-bottom: 10px;
	}

	& .phone-number {
		padding-bottom: 5px;
	}
}

.syringe {
	display: inline-block;
	&.true{
		height: 25px;
		width: 25px;
		background-image: url('../assets/images/legend__syringe.svg');
	}
}

.contrast {
	display: inline-block;
	&.true {
		height: 25px;
		width: 25px;
		background-image: url('../assets/images/legend__barium.svg');
	}
}



.gpos {
	padding-top: 30px;

	& .logo {
		text-align: left;

		& img {
			height: 80px;
		}
	}

	& .title {
  	line-height: 1.2;
	}
}


/*––––
	Media Queries
	––––––––––––––––––––––––––––*/
@media (--tablet) {
	.select-arrow {
		width: 350px;
	}

	.zip-code {
		width: 350px;
	}
}
