.request-product-information {
	& .bluehero {
		background-image: url('../assets/images/rpi__hero-bg.jpg');
		@apply --background-standard;
	}

	& .title {
		color: var(--blue);
	}

	& .content {
		padding: 50px 20px;
	}

  & .category {
    font-size: 12px;
    text-transform: uppercase;
  }

  & .name {
    color: var(--white);
    font-size: 48px;
  }


}

/*––––
	Modifies RPI Ninja Form
	––––––––––––––––––––––––––––*/

	.ninja-forms-required-items {
		display: none;
	}

	.nf-error-msg {
		font-size: 12px;
	}

	.nf-field-description {
		padding-left: 15px;
		display: inline-block;
		max-width: 95%;
	}

	#nf-field-11-wrap .nf-field-element {
		width: none;
		display: inline-block;
	}

	.label-hidden .nf-field-element {
		width: auto !important;
	}

	#ninja_forms_form_8 {
		& .list-checkbox-wrap.label-left label {
				float: none;
				display: block;
		}

		& .list-checkbox-wrap.label-left ul li {
			float: none;
		}

		& .ninja-forms-form-wrap input {
			vertical-align: top;
		}

	}


	#ninja_forms_field_22 {
		height: 120px;
	}

	.checkbox-wrap label {
		font-weight: normal;
	}

#ninja_forms_field_23_label {
	font-weight: normal;
}

#ninja_forms_field_6_label {
	font-weight: normal;
}
