.product-hero {
	min-height: 275px;
	border-bottom: 2px solid var(--green);
	background: #eee;
	position: relative;
	@apply --background-standard;
  background-position: right;

	& .inner {
		@apply --absolute-center;
		padding: 20px;
    display: none;
	}

	& .category {
		font-size: 12px;
		text-transform: uppercase;
	}

	& .name {
		font-size: 48px;
		color: var(--white);
	}
}


.identify {
  padding-top: 15px;
  & .inner {
    text-align: center;
		padding: 20px;
	}

	& .category {
		font-size: 12px;
		text-transform: uppercase;
	}

	& .name {
		font-size: 48px;
		color: var(--blue);
    padding-bottom: 20px;

	}

  & a {
    padding-right: 50px;
    padding-left: 50px;
  }
}


.product {
	& .content {
		padding: 50px 50px 120px 50px;
	}
}

.info {
	& .heading {
		color: var(--green);
		font-weight: 400;
	}
}

.gallery {
	padding: 75px 0 0 0;
	position: relative;
	min-height: 350px;
  display: none;

	& .inner {
		position: relative;
		right: 0;
	}

	& .view {
		height: 300px;
		max-width: 250px;
		margin: 0 auto;
		display: block;
		@apply --background-standard;
		overflow: hidden;
		cursor: pointer;
		transition: all 0.3s;

		& .image {
			@apply --background-standard;
			height: 100%;
		}
	}

	& .thumbs {
		text-align: center;
		cursor: pointer;

		& .thumb {
			display: inline-block;
			height: 85px;
			width: 117px;
			margin: 15px 5px;
			@apply --background-standard;
		}
	}
}



.mobile-gallery {
  margin-top: 10px;
  height: 100%;
  overflow: hidden;
  padding-bottom: 10px;

  & .mobile-thumb {
    margin-top: 8px;
    margin-right: 5px;
    height: 100px;
    min-width: 120px;
    display: inline-block;
    @apply --background-standard;
  }
}



.sidebar {
	min-height: 100%;
	padding: 50px;
	background-color: var(--offwhite);

	& .title {

			&:after {
				padding-top: 20px;
				width: 75px;
				content: "";
				display: block;
				border-bottom: 2px solid var(--green);
			}
	}
}

.list {
	& ul {
		padding: 0 0 10px 0;
		list-style: none;
		color: var(--green);
		margin-top: 5px;

		& li {
			padding: 2px 0;
		}
	}
}


.zoomIn {
	transform: scale(1.8);
}

.zoomNormal {
	transform: scale(1.0);
}




@media (--tablet) {
	.gallery {
		padding: 75px 0;
		min-height:500px;
    display: block;
		& .inner {
			position: absolute;
		}
	}

  .product-hero .inner {
    display: block;
  }

  .identify {
    display: none;
  }

  .mobile-gallery {
    display: none;
  }
}
