.syringes {

	& .clearhero {
		position: relative;
		& .content {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	& .categories {
		padding: 80px 20px 50px 20px;
	}

	& .card {
		margin-bottom: 30px;
	}

	& .label {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}
