.syringes {

	& .categories {
		padding: 80px 20px 50px 20px;
	}

	& .card {
		margin-bottom: 30px;
	}

	& .label {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	& .clearhero {
		min-height: 280px;
	}
}


@media (--tablet) {
	.syringes .clearhero {
		min-height: 400px;
	}
}
