/*––––
	Hero
	––––––––––––––––––––––––––––*/
.clearhero {
	min-height: 280px;
	width: 100%;
	@apply --background-standard;
	background-position: bottom;
	z-index: 1;
	padding:0 20px;
	color: var(--white);
	position: relative;

	& .content {
		position: absolute;
		top: 48%;
		transform: translateY(-48%);

		& p {
			margin-top: 0px;
		}
	}

	& .title {
		margin-bottom: 0;
	}

	& .image {
		text-align: center;

		& img {
			max-width: 100%;
			height: 400px;
		}
	}
}



.computed-tomography {
	padding: 30px 20px;
}

.x-ray-and-fluoroscopy {
	background-color: var(--offwhite);
	padding: 30px 20px;
}

.related-products {
	padding: 30px 20px;
}

.angio-and-cath-lab-syringes {
	padding: 30px 20px;
}

.ct-syringes {
	background-color: var(--fadegray);
	padding: 30px 20px;
}

.mr-syringes {
	padding: 30px 20px;
}

.land {
	padding: 0 20px;
}



/*––––
	Media Queries
	––––––––––––––––––––––––––––*/
@media (--tablet) {
	.clearhero {
		min-height: 400px;
			& .image {
				text-align: right;
		}
	}
}
