footer {
	background-color: var(--gray);
	min-height: 260px;
	padding: 80px 20px;
	text-align: center;
	border-bottom: 2px solid var(--green);
}

.logo {
	padding-bottom: 30px;
	& img {
			height: 50px;
			width: auto;
	}
}

.legal {
	color: var(--white);
	font-size: 14px;
	padding-bottom: 30px;

	& .links {
			& a {
				color: var(--green);
				text-decoration: underline;
		}
	}
}

.social {
	color: var(--white);
	font-size: 14px;
	text-align: center;

	& .linkedin {
		height: 20px;
		width: auto;
		color: #fff;
	}
}

.menu {
	width: 300px;
  height: 100px;

  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

@media (--tablet) {
	footer {
		text-align: left;
	}
	.social {
		display: inline-block;
		text-align: right;
		float: right;
	}
	.legal {
		display: inline-block;
	}
}
