/*––––
	UI Components
	––––––––––––––––––––––––––––*/
	.hero {
		text-align: center;
		color: var(--white);
		padding: 80px 20px;
		@apply background-standard;

		& .title {
			margin: 0 0 20px 0;
		}

		& .copy {
			@apply --mxw-900-center;
		}
	}



	.btn{
		@apply --btn;

		&.white {
			border: 2px solid var(--white);
			color: var(--white);
			transition: background-color ease .15s;

			&:hover {
				color: var(--gray);
				background-color: var(--white);
			}
		}

		&.green {
			border: 2px solid var(--green);
			color: var(--green);
			transition: background-color ease .15s;

			&:hover {
				color: var(--white);
				background-color: var(--green);
			}
	}

	&.blue {
		background-color: var(--blue);
		color: var(--white);
		display: inline-block;
		margin: 20px 0;
	}

	&.green-link {
		color: var(--green);
		padding: 0;
		display: block;
	}
}



.cta {
	min-height: 320px;
	text-align: center;
	position: relative;
	@apply --background-standard;

	&.cta-green {
		background-image: url('../assets/images/cta__module__green-bg.jpg');
	}

	&.cta-blue {
		background-image: url('../assets/images/cta__module__blue-bg.jpg');
	}

	& .inner {
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 20px;
		transform: translate(-50%,-50%);
		width: 100%;
	}

	& h2 {
			color: var(--white);
			margin: 0;
			padding-bottom: 25px;
	}

	& p {
		color: var(--white);
		margin:0;
		padding-bottom: 30px;
	}
}



.med {
	max-width: 960px;
	margin: 0 auto;
	padding: 80px 20px;
	background-color: var(--white);

	& .inner {
		margin: 10px;
		height: 300px;
		background-position: center;
		background-size: cover;
		position: relative;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

		& .label {
			border-bottom: 3px solid var(--green);
			position: absolute;
			bottom: 0;
			height: 50px;
			width: 100%;
			display: block;
			background-color: color(var(--gray));
			color: var(--white);
			text-transform: uppercase;
			padding: 14px;
			white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
			@apply --p;

			&:after {
				content: url('../assets/images/arrow__down.png');
				position: absolute;
				right: 0px;
			}
		}
	}
}


.med-sm {

	& .image {
		height: 250px;
		@apply --background-standard;
		background-image: url('http://placehold.it/350x250');
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		position: relative;
		margin-bottom: 70px;
	}

	& .label {
		border-bottom: 3px solid var(--green);
		position: absolute;
		bottom: -48px;
		height: 50px;
		width: 100%;
		display: block;
		background-color: color(var(--gray));
		color: var(--white);
		text-transform: uppercase;
		padding: 14px;
		@apply --p;

		&:after {
				content: url('../assets/images/arrow__down.png');
				position: absolute;
				right: 10px;
		}
	}

	& .name {
		margin-bottom: 0;
		color: var(--green);
		letter-spacing: 0.5px;
	}

	& p {
		margin-top: 5px;
	}
}
