/*––––
	UI Components
	––––––––––––––––––––––––––––*/
	.hero {
		text-align: center;
		color: var(--white);
		padding: 80px 20px;
		@apply background-standard;

		& .title {
			margin: 0 0 20px 0;
		}

		& .copy {
			@apply --mxw-900-center;
		}
	}



	.btn{
		@apply --btn;

		&.white {
			border: 2px solid var(--white);
			color: var(--white);
			transition: background-color ease .15s;

			&:hover {
				color: var(--gray);
				background-color: var(--white);
			}
		}

		&.green {
			border: 2px solid var(--green);
			color: var(--green);
			transition: background-color ease .15s;

			&:hover {
				color: var(--white);
				background-color: var(--green);
			}
	}
}



.cta__ctn {
	min-height: 260px;
	text-align: center;
	position: relative;
	@apply --background-standard;

	&.cta-green {
		background:linear-gradient(hsla(116, 45%, 50%, .90), hsla(116, 45%, 50%, .90)), url('../assets/images/cta__module__green-bg.jpg');
	}

	&.cta-blue {
		background:linear-gradient(hsla(116, 45%, 50%, .90), hsla(116, 45%, 50%, .90)), url('../assets/images/cta__module__blue-bg.jpg');
	}

	& .cta__inner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 100%;
	}

	& h2 {
			color: var(--white);
			margin-top: 0;
			font-weight: normal;
	}
}



.med {
	max-width: 960px;
	margin: 0 auto;
	padding: 80px 20px;
	background-color: var(--white);

	& .box {
		margin: 10px;
		height: 300px;
		background-position: center;
		background-size: cover;
		position: relative;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

		& .med__label {
			border-bottom: 3px solid var(--green);
			position: absolute;
			bottom: 0;
			height: 50px;
			width: 100%;
			display: block;
			background-color: color(var(--gray) alpha(-18%));
			color: var(--white);
			text-transform: uppercase;
			padding: 14px;
			@apply --p;

			&:after {
				content: url('../assets/images/arrow__down.png');
				position: absolute;
				right: 10px;
			}
		}
	}
}