/*––––
	Helper Classes
	––––––––––––––––––––––––––––*/
.mxw-1100-center {
	@apply --mxw-1100-center;
}

.mxw-900-center {
	@apply --mxw-900-center;
}

.title {
	&.small {
		text-transform: uppercase;
		padding-bottom:25px;
	}
}

.bluehero {
	min-height: 170px;
	background-blend-mode: multiply;
}