/*––––
	Helper Classes
	––––––––––––––––––––––––––––*/
.mxw-1500-center {
	@apply --mxw-1500-center;
}

.mxw-1100-center {
	@apply --mxw-1100-center;
}

.mxw-900-center {
	@apply --mxw-900-center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}



.title {
	&.small {
		text-transform: uppercase;
		padding-bottom:25px;
	}
}

.bluehero {
	min-height: 170px;
	background-blend-mode: multiply;
}

.nopad {
	padding: 0;
}